*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    overflow: none;
    
}

.botones__marcas{
    cursor: pointer;
}
.botones__marcas:hover {
    cursor: pointer;
    color: black;
    font-weight: 700;
}


.tarjetas{
    margin: 5px;
    padding: 10px;
    width: 230px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    
}

.background{    
    height: 400px;
    background-image: url(./img/cambio-aceite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.texto-imagen{
    position: relative;
    padding: 10px;
}
.span{
    color: #0d6efd;
    font-size: 1.7rem;
}
.texto-principal{
    position: absolute;
    top: 35px;
    left: 250px;
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
    width: 400px;

}
.boton-principal{
    position: absolute;
    top: 250px;
    left: 350px;
}
.imagen__carrito{
    height: 48px;
    width: 70px;
    text-align: start;
    
}

.disabled{  
    display: none;
}
.total{
    font-size: 1.25rem;
    position: relative;
    right: 40px;
}
.vaciar-carrito{
    position: relative;
    right: 20px;
}

.img-logo{
    border-radius: 100%;
    margin-left: 50px;
}

section.sticky-top{
    background-color: rgb(255, 255, 255);
    height: 50px;
}
section.sticky-top .navbar-brand img {
    max-height: 45px;
    margin-left: 100px;
    
}

section.sticky-top .form-control {
    font-size: 14px;
    margin-bottom: 20px;
}

section.sticky-top .btn {
    font-size: 14px;
    margin-bottom: 20px;
}

.mapa{
    width: 400px;
    height: 250px;
}
.imagen-footer{
    background-color: white;
    border-radius: 100%;
    margin-top: 10px;
    padding: 10px;
}


@media (min-width: 300px) and (max-width: 767px) {

    .texto-imagen{
        position: relative;
        padding: 10px;
    }
    .span{
        color: #0d6efd;
        font-size: 1.2rem;
    }
    .texto-principal{
        top: 25px;
        left: 5px;
        font-size: 0.8rem;
        width: 120px;
    
    }

    .boton-principal{
        height: 40px;
        top: 300px;
        left: 20px;
    }
    .comprar-ahora{
        font-size: 0.8rem;
    }
    .img-collapse{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .img-logo{
        margin: 0;
        margin-top: 10px;
        max-width: 250px;
        
    }
    section.sticky-top .navbar-brand img {
        max-height: 50px;
        margin: 0px;
        
    }
    
    #div-carrito{
        position: fixed;
        bottom: 10px;
        right: 5px;
        margin: 0;
        
        
    }
   
    .tabla{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
   
    .imagen--tabla{
        margin-right: 5px;
    }
    .titulo--tabla{
        width: 60%;
    }
    .titulo--tabla__h5{
        font-size: 0.9rem;
    }
    .texto--tabla{
        display: flex;
        align-items: center;
    }
    .texto--tabla__h6  {
        font-size: 12px;
    }
    .icono--tabla{
        width: 24px;
    }
    

    .custom-table {
        max-width: 100%;
        display: block;
        overflow-x: auto;
    }
    
    .custom-table tbody {
        display: block;
        max-width: 100%;
        overflow-y: auto;
    }

    .total--tabla{
        display: flex;
        justify-content: flex-end;
    }
    .comprar-vaciar{
        font-size: 0.85rem;
    }
    #botonComprar {
        height: 50px;
    }
    #botonVaciar{
        height: 50px;
    }
   
    .mapa{
        width: 90%;
        height: 200px;
        margin-bottom: 20px;
    }
    .imagen-footer{
        text-align: center;
        max-width: 250px;
        min-width: 200px;
    }   
}

@media (min-width: 768px) and (max-width: 1023px) {

    .mapa{
        width: 300px;
        height: 400px;
        margin-bottom: 20px;
    }
}