*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.botones__marcas{
    cursor: pointer;
}
.botones__marcas:hover {
    cursor: pointer;
    color: black;
    font-weight: 700;
}


.tarjetas{
    margin: 5px;
    padding: 10px;
    width: 230px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    
}
  
  
.productos__agregados:hover {
    color: #0d6efd;
}

.imagen__carrito{
    height: 48px;
    width: 70px;
    text-align: start;
    
}

.disabled{  
    display: none;
}
.total{
    font-size: 1.25rem;
    position: relative;
    right: 40px;
}
.vaciar-carrito{
    position: relative;
    right: 20px;
}

.img-logo{
    border-radius: 100%;
    margin-left: 50px;
}

section.sticky-top{
    background-color: rgb(255, 255, 255);
    height: 50px;
}
section.sticky-top .navbar-brand img {
    max-height: 45px;
    margin-left: 100px;
    
}

section.sticky-top .form-control {
    font-size: 14px;
    margin-bottom: 20px;
}

section.sticky-top .btn {
    font-size: 14px;
    margin-bottom: 20px;
}
